# Mini python Assignment

In [1]:
import pandas as pd
import numpy as np

In [2]:
#loading dataset
df = pd.read_csv('datasets/techgadget_products.csv')
df.head()

  Product_ID Product_Name     Category  Price  Stock_Quantity    Supplier
0      TG001     Gadget 1     Charging  10.67             132  ChargeFast
1      TG002     Gadget 2     Charging  65.46             234    TechCorp
2      TG003     Gadget 3  Accessories  44.85              11    DeskMate
3      TG004     Gadget 4     Charging  92.02              42   PowerPlus
4      TG005     Gadget 5        Audio  49.79              12    SoundMax

In [5]:
import pandas as pd

# TechGadget Store Product Data
products_data = {
    'Product_ID': ['TG001', 'TG002', 'TG003', 'TG004', 'TG005', 'TG006', 'TG007', 'TG008'],
    'Product_Name': ['Wireless Mouse', 'Bluetooth Speaker', 'USB Cable', 'Phone Case',
                     'Laptop Stand', 'Wireless Charger', 'Screen Protector', 'Power Bank'],
    'Category': ['Accessories', 'Audio', 'Cables', 'Accessories',
                 'Accessories', 'Charging', 'Protection', 'Charging'],
    'Price': [25.99, 89.99, 12.99, 19.99, 45.99, 39.99, 9.99, 59.99],
    'Stock_Quantity': [150, 45, 200, 75, 30, 60, 180, 25],
    'Supplier': ['TechCorp', 'SoundMax', 'TechCorp', 'GuardPro',
                 'DeskMate', 'ChargeFast', 'GuardPro', 'PowerPlus']
}

products_df = pd.DataFrame(products_data)

print("🏪 TechGadget Store Product Analysis")
print("="*50)

# a) What is the shape of the dataset?
print("Dataset shape:", products_df.shape)

# b) Display the first 5 products
print("\nFirst 5 products:")
print(products_df.head())

# c) What are all the unique categories?
print("\nProduct categories:", products_df['Category'].unique())

🏪 TechGadget Store Product Analysis
==================================================
Dataset shape: (8, 6)

First 5 products:
  Product_ID       Product_Name     Category  Price  Stock_Quantity  Supplier
0      TG001     Wireless Mouse  Accessories  25.99             150  TechCorp
1      TG002  Bluetooth Speaker        Audio  89.99              45  SoundMax
2      TG003          USB Cable       Cables  12.99             200  TechCorp
3      TG004         Phone Case  Accessories  19.99              75  GuardPro
4      TG005       Laptop Stand  Accessories  45.99              30  DeskMate

Product categories: ['Accessories' 'Audio' 'Cables' 'Charging' 'Protection']

In [6]:
products = [
    {"name": "Product A", "price": 45.99},
    {"name": "Product B", "price": 150.00},
    {"name": "Product C", "price": 23.50},
    {"name": "Product D", "price": 75.00},
    {"name": "Product E", "price": 120.00},
    {"name": "Product F", "price": 10.00}
]

# a) Top 3 most expensive products
top_3 = sorted(products, key=lambda x: x["price"], reverse=True)[:3]
print("Top 3 most expensive products:")
for product in top_3:
    print(f"- {product['name']}: ${product['price']}")

# b) Products over $50
over_50 = [p for p in products if p["price"] > 50]
print("Products over $50:")
for product in over_50:
    print(f"- {product['name']}: ${product['price']}")

# c) Average price
average_price = sum(p["price"] for p in products) / len(products)
print("Average price: $", round(average_price, 2))

Top 3 most expensive products:
- Product B: $150.0
- Product E: $120.0
- Product D: $75.0
Products over $50:
- Product B: $150.0
- Product D: $75.0
- Product E: $120.0
Average price: $ 70.75

In [7]:
import pandas as pd

# Example DataFrame
data = [
    {'Product': 'Phone Model X', 'Category': 'Smartphone', 'Stock': 30, 'Supplier': 'Supplier A'},
    {'Product': 'Wireless Charger', 'Category': 'Charging', 'Stock': 120, 'Supplier': 'Supplier B'},
    {'Product': 'USB-C Cable', 'Category': 'Charging', 'Stock': 45, 'Supplier': 'Supplier A'},
    {'Product': 'Phone Case', 'Category': 'Accessory', 'Stock': 75, 'Supplier': 'Supplier C'},
    {'Product': 'Portable Battery', 'Category': 'Charging', 'Stock': 20, 'Supplier': 'Supplier B'},
    {'Product': 'Tablet Model Y', 'Category': 'Tablet', 'Stock': 60, 'Supplier': 'Supplier A'},
]

df = pd.DataFrame(data)

# a) Products with less than 50 items in stock
print("Low stock products (< 50 units):")
low_stock = df[df['Stock'] < 50]
print(low_stock[['Product', 'Stock']])

# b) 'Charging' category products with stock levels
print("\nCharging products and stock:")
charging_products = df[df['Category'] == 'Charging']
print(charging_products[['Product', 'Stock']])

# c) Supplier providing the most products
most_products_supplier = df['Supplier'].value_counts().idxmax()
print("\nSupplier with most products:", most_products_supplier)

Low stock products (< 50 units):
            Product  Stock
0     Phone Model X     30
2       USB-C Cable     45
4  Portable Battery     20

Charging products and stock:
            Product  Stock
1  Wireless Charger    120
2       USB-C Cable     45
4  Portable Battery     20

Supplier with most products: Supplier A

In [9]:
products = [
    {"name": "Leather Belt", "category": "Accessories", "price": 45, "quantity": 10},
    {"name": "Sunglasses", "category": "Accessories", "price": 25, "quantity": 15},
    {"name": "Watch", "category": "Accessories", "price": 120, "quantity": 5},
    {"name": "T-shirt", "category": "Clothing", "price": 20, "quantity": 30},
    {"name": "Jeans", "category": "Clothing", "price": 50, "quantity": 20},
]

# a) Find expensive accessories (Accessories category, price > $30)
print("Expensive accessories:")
expensive_accessories = [p for p in products if p["category"] == "Accessories" and p["price"] > 30]
for item in expensive_accessories:
    print(f"- {item['name']}: ${item['price']}")

# b) Calculate total value of inventory for each category
print("Inventory value by category:")
inventory_value = {}
for product in products:
    category = product["category"]
    total_value = product["price"] * product["quantity"]
    inventory_value[category] = inventory_value.get(category, 0) + total_value

for category, value in inventory_value.items():
    print(f"- {category}: ${value}")

Expensive accessories:
- Leather Belt: $45
- Watch: $120
Inventory value by category:
- Accessories: $1425
- Clothing: $1600